
.icon-globe:before { content: '\e800'; } /* '' */
.icon-flash:before { content: '\e801'; } /* '' */
.icon-googleplay:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-thumbs-up:before { content: '\e805'; } /* '' */
.icon-thumbs-down:before { content: '\e806'; } /* '' */
.icon-music:before { content: '\e807'; } /* '' */
.icon-ccw:before { content: '\e808'; } /* '' */
.icon-cw:before { content: '\e809'; } /* '' */
.icon-arrows-cw:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
