<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/post.css" type="text/css">
    <link href="/css/fontello.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comments</title>
</head>

<style>
    .from-date {
        display: inline;
    }

    #user-id {
        opacity: 0.5;
    }

    #date {
        float: right;
        opacity: 0.5;
    }

    #from {
        opacity: 0.9;
    }

    #btn-edit {
        padding: 0;
        border: 0;
        background: inherit;
    }

    #btn-edit:hover {
        color: #424242;
    }
</style>

<body id="main-body">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <div th:include="navbar"></div>

    <div class="container py-3" th:each="comment : ${comments}">
            <div class="p-1 bg-light rounded-3">
                <div class="container-fluid" id="comments">
                    <p th:text="${comment.getFromUsername()}" class="from-date" id="from"/>
                    <p sec:authorize="hasRole('ADMIN')" th:text="${comment.getId()}" class="from-date" id="user-id"/>
                    <button class="btn-close from-date ms-2" sec:authorize="hasRole('ADMIN')" style="float: right" type="submit" aria-label="Close"></button>
                    <button class="from-date icon-pencil ms-2" sec:authorize="hasRole('ADMIN')" style="float: right" type="submit" id="btn-edit"></button>
                    <p th:text="${#temporals.format(comment.getDate(), 'HH:mm:ss dd MMM yyyy')}" class="from-date" id="date"/>
                    <p th:text="${comment.getText()}" id="text"/>
                </div>
            </div>
    </div>
    <div class="container py-3">
        <form role="form" id="comment-form" th:method="put" th:action="@{/api/view/posts}" th:object="${comment}">
            <div class="form-floating pb-4" style="padding: 0 0">
                <textarea class="form-control" th:field="*{text}" id="floatingTextarea2" style="height: 150px"></textarea>
                <label for="floatingTextarea2">Leave a comment here</label>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding: 0 0">
                <button class="btn btn-primary col-3" type="submit">Send</button>
            </div>
        </form>
    </div>
</body>
</html>